body { background-color: #fff; color: #333; }

body, p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1 {
	text-align: center;	
	font-size:   30pt;
}
	
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	padding:0px;
	margin:0px;
	color: #00F;
	font-size:12pt;
}
a:visited { 
	padding:0px;
	margin:0px;
	color: #0BF;
	font-size:12pt;
}

a:hover { 
	padding:0px;
	margin:0px;
	color: #000;
	background-color:#FFF;
}

div.field, div.actions, div.actions2 {
  margin-bottom: 10px;
  padding: 10px;
}

.actions {
	float:left;
	
}

.actions2 {
	float:left;
	
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.searchResult {
	font-size: 10px;
	text-align: right;
}

#insert {
	float:left;
	width:70%;
	max-width: 70%;
	height: 500px;
	overflow: auto;
	border-left: 2px solid;
	border-bottom: 2px solid;
	border-top: 2px solid;
	
}

#search {
	padding:0px;
	margin:0px;
	float: left;
	border: 2px solid;
	width: 28%;
	height: 500px;
	overflow: auto;

}

#searchTitle {
	text-align: center;
	font-weight: bold;
	font-size: 13pt;
}

.blank {
	height: 20px;
	width:100%
}

td {
  text-align: right;
  padding-left: 10px;
  
}

#table {
	float: right;	
}
